<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>基本資料</ng-template>
    <p>
      Step 1
    </p>

    <form [formGroup]="formBaseInfo">
      <ng-template matStepLabel>Fill out your name</ng-template>

      <!--mat-form-field with ng-boostrap datepicker  -->
      <form>
        <mat-form-field>
          <input matInput type="text" name="model" [(ngModel)]="model" (ngModelChange)="onDateChanges($event)" ngbDatepicker container="body" #d="ngbDatepicker" [showWeekNumbers]="true" (click)="d.open()"
            placeholder="Date Picker with issue" />
          <button mat-button matSuffix mat-icon-button  (click)="d.open()">
            <mat-icon>calendar_today</mat-icon>
          </button>
        </mat-form-field>
      </form>
      {{model | json}}
      <!-- https://stackblitz.com/run?file=app/datepicker-basic.ts -->

      <div class="item">
        <label>Id</label><span>:</span>
        <mat-form-field>
          <input matInput formControlName="id">
        </mat-form-field>
      </div>

      <div class="item">
        <label>Height</label><span>:</span>
        <mat-form-field>
          <input matInput formControlName="height">
        </mat-form-field>
      </div>
      <div class="item">
        <label>Width</label><span>:</span>
        <mat-form-field>
          <input matInput formControlName="width">
        </mat-form-field>
      </div>
      <div class="item">
        <label>Unit</label><span>:</span>
        <mat-form-field>
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unit of unitArray" [value]="unit">
              {{unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- convert -->
      <div class="item">
        <label>ConvertTo</label><span>:</span>
        <mat-form-field>
          <mat-select formControlName="convertUnit">
            <mat-option *ngFor="let unit of unitArray" [value]="unit">
              {{unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="item">
        <label></label><span>:</span>
        Height : {{convertValues.height}}
        Width : {{convertValues.width}}
      </div>

      <div>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>
  <mat-step>
    <!-- <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form> -->
    <ng-template matStepLabel>選擇畫框</ng-template>
    <p>
      Step 2
    </p>
  </mat-step>
  <mat-step>
    <!-- <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form> -->
    <ng-template matStepLabel>選擇畫布</ng-template>
    <p>
      Step 3
    </p>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>取得報價</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
