.container {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;

  // 框框外陰影(下px 右px 暈染程度px 實體線px)
  box-shadow: rgba(0,0,0,0.4) 2px 0px 5px 0px;
}

.logo {
  margin: 0 10px;
}

.nav {
  a {
    margin: 0 50px;
    text-decoration: none;
    color: darkgray;
  }
}

a:hover {
  color: steelblue;
}

