<!-- <p>header-nav works!</p> -->
<!-- example -->
<!-- https://icons8.com/articles/landing-page-hero-illustration/ -->

<div class="container">
  <a class="logo">
    <h2>國榮裱褙</h2>
  </a>
  <div class="navbar">
    <a href="#">Intro</a>
    <div class="dropdown">
      <button class="dropbtn">
        Products
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">外框</a>
        <a href="#">卷軸相關
        </a>
      </div>
    </div>
    <a href="#">Contact</a>
    <a href="#">Login</a>
  </div>
</div>
